# Swift Package Manager
.build/
Packages/
Package.resolved
*.xcworkspace

# Xcode
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3
*.xcuserstate
project.xcworkspace/
xcuserdata/
build/
DerivedData/

# macOS
.DS_Store

# Swift
*.swiftdoc
*.swiftmodule